body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #FDBD01;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu .bar {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 4px 0;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    .burger-menu {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 300%;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: #FDBD01;
    }

    .nav-links li {
        text-align: right;
        margin: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }
}
.button-link {
    text-decoration: none; /* Remove underline from the link */
}

.styled-button {
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.styled-button:hover {
    background-color: black;
}